#Top {
    margin-left:200px;
    margin-right:200px;
    text-align: center;
    

}

.champ {
   
}

.sort {
    display: flex;
    
}

.cote {
    display: flex;
    justify-content: space-between;
}